<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scope</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        body{
            background-color: lightblue;
            color:darkblue;
            font-size: 18px;
            width: 800px;
            margin: auto;
        }
    </style>
    <script>
        var app = angular.module('studentInfo',[]);
        app.run(function($rootScope){
            $rootScope.info="Visible Everywhere"
        })
        app.controller("studentCtrl",function($scope){
            $scope.info = 'Student Information'
            $scope.name = 'Akshay'
            $scope.grade = 'Grade A'
            $scope.gradeInfo = function(){
                alert("Grade A > 90%")
            }
        })
    </script>
</head>
<div>
    <h3>{{ info }}</h3>
</div>
<body ng-app="studentInfo">
    <div ng-controller="studentCtrl">
        <h1>{{ info }}</h1>
        Student Name: {{ name }}
        <br>Grade:
        <span ng-bind="grade"></span><br>
        <input type="text" ng-model="name">
        <input type="button" value="MarksInfo" ng-click="gradeInfo()">
    </div>
    <div>
       <h3>{{ info }}</h3>
    </div>
</body>
</html>