<h3>{{ title }} from customer component</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>  
</div>


<!-- In ordered lists format
    <ol>
    <li *ngFor="let user of users">
        {{ user.name }} - {{ user.email }}
    </li>
</ol> -->