h1{
    color: blue;
}

h3{
    color : red;
}

li{
    color : green;
}

.primary{
    color :red;
}

.secondary{
    color : blue;
}

.big{
    font-size: 20px;
}

.small{
    font-size: 12px;
}

.demo{
    color: green;
}

#black{
    color: black;
}